# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Crash logs
crash.log
crash.*.log

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Kubernetes secrets
*.kubeconfig
kubeconfig